@import './modules/_Vars.scss';
@import './modules/_Navigation.scss';
@import './modules/_Home.scss';
@import './modules/_Popular.scss';
@import './modules/_Sao.scss';
@import './modules/_Ds.scss';
@font-face {
    font-family: 'saoReg';
    src: local("saoReg"),
      url("~/assets/fonts/saoReg.woff") format("woff");
}

@font-face {
    font-family: 'saoBold';
    src: local("saoBold"),
      url("~/assets/fonts/saoBold.woff") format("woff");
}

html {
    margin: 0 auto;
}