@import './modules/_Vars.scss';
@import './modules/_Navigation.scss';
@import './modules/_Home.scss';
@import './modules/_Popular.scss';
@import './modules/_Manga.scss';
@import './modules/_AnimeTemp.scss';
@import './modules/_Ds.scss';
@import './modules/_Sao.scss';
@import './modules/_Mha.scss';

@font-face {
    font-family: 'saoReg';
    src: local("saoReg"),
      url("~/assets/fonts/saoReg.woff") format("woff");
}

@font-face {
    font-family: 'saoBold';
    src: local("saoBold"),
      url("~/assets/fonts/saoBold.woff") format("woff");
}

html {
    margin: 0 auto;
}

.transitionTest {
  position: relative;
  span {
    display: flex;
    width: 100%;

    div {
      position: fixed;
      height: 100vh;
    }
  }
}

.my-transition-enter-active, .my-transition-leave-active {
  transition: transform 1.8s cubic-bezier(0.16, 1, 0.3, 1);
}

.my-transition-enter-active {
  transition-delay: 0;
}

.my-transition-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateX(-25vw);
}

.my-transition-enter {
  transform: translateX(110vw);
}