// ds = Demon Slayer
// mha = My Hero Academia

.animeTemp {
    // Start of Hero Styling
    &__hero {
        // background-image: url('~/assets/images/ds/bck.png');
        background-size: cover;
        overflow: hidden;
        height: 100vh;

        &--ds {
            background-image: url('~/assets/images/ds/bck.png');
        }

        &--mha {
            background-color: #FEC601;
            background-image: url('~/assets/images/mha/mha_bck_mob.png');
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            flex-direction: column;
        }
    }

    &__logoCon {
        &--mha {
            padding-top: 5%;
        }
    }

    &__logo {
        width: 53%;
        display: block;
        margin: 0 auto;
        padding-top: 25px;
        max-width: 384px;

        &--mha {
            width: 80%;
        }
    }

    &__btns {
        display: flex;
        justify-content: center;

        &--mha {
            margin: 15px 0;
        }
    }

    &__heroImg {
        width: 100%;

        &--mha {
            display: block;
            width: 70%;
            margin: auto auto 0;
            padding-top: 10%;
        }
    }
    // End of Hero Styling


    // Start of General Styling
    &__active {
        background-color: white !important;
        color: black !important;
    }
    
    &__btn {
        display: flex;
        align-items: center;
        width: auto;
        border-radius: 4px;
        color: white;
        background-color: #181818;
        margin: 0 10px;
        padding: 4px 8px;
        cursor: pointer;

        img { width: 18px; margin-left: 9px;}

        &--small {
            font-size: 12px;
            text-transform: uppercase;
        }

        &--filter {
            width: 185px;
            text-align: center;
            justify-content: center;
            margin: 0;
            padding: 10px 6px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.164);
        }

        &--ds {
            font: $ds-heading;
        }

        &--mha {
            font: $mha-btn;
            margin: 0 4px;
        }
    }

    &__heading {
        &--ds {
            font: $ds-heading;
        }

        &--mha {
            font: $mha-heading;

            &--large {
                margin: 20px auto;
                width: fit-content;
                font-size: 24px;
                padding-bottom: 8px;
                border-bottom: solid 4px black;
            }
        }

        &--center {
            text-align: center;
            margin: 10px 0;
        }

        &--eb {
            font-weight: 800;
        }

        &--content {
            margin-top: 8px;
        }
    }

    &__image {
        width: 100%;

        &--item {
            width: 68px;
        }
    }
    // End of General Styling


    // Start of List Styling 
    &__list {
        margin-top: 15px;
        margin-bottom: 100px;
    }

    &__item {
        display: flex;
        align-items: center;
        width: 247px;
        margin: 10px 0;

        &--mha {
            background-color: #F9F9F9;
            box-sizing: border-box;
            padding: 3px;
            margin: 10px 3px;
            border-radius: 4px;
            width: calc(100% - 6px);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    &__name {
        font: $ds-para;
        font-size: 14px;
        font-weight: 600;
        color: #8F8F8F;

        &--mha {
            font: $mha-para;
        }
    }
    // End of List Styling
}

@media screen and (min-width: 1020px) {
    .animeTemp {
        &__hero {
            display: flex;
            align-items: center;
            justify-content: center;

            &--mha {
                flex-direction: row;
            }
        }

        &__logoCon {
            flex: 0 1 auto;
            height: 500px;
            width: 50%;
            display: flex;
            flex-direction: column;

            &--mha {
                padding-top: 0;
                margin-left: 8%;
                height: auto;
                width: 550px;
            }
        }

        &__logoCon, &__heroImg {
            margin-top: 75px;
        }

        &__logo {
            width: 57%;

            &--mha {
                max-width: 540px;
                width: 80%;
            }
        }

        &__heroImg {
            width: 50%;
            margin-left: -10%;

            &--mha {
                margin: 0 0 0 auto;
                width: 40%;
            }
        }

        &__btns {
            &--hero { 
                margin: 30px 0; 
                
                &--mha {
                    justify-content: initial;
                    margin-left: 9%;
                }
            }
        }

        &__btn {
            padding: 10px 12px;
            font-size: 16px;

            img { width: 23px; }

            &--small {
                font-size: 14px;
            }

            &--filter {
                width: 30%;
                max-width: 180px;
            }
        }

        &__heading {
            &--eb {
                order: 1;
                margin: 0;
                font-size: 22px;
            }

            &--content {
                margin-top: 0;
                font-size: 24px;
                height: 557px;
            }

            &--cards {
                margin-left: 5%;
            }

            &--ds {
                height: auto;
            }

            &--mha {
                order: 0;
                margin: 15px 0;

                &--large {
                    font-size: 40px;
                }
            }
        }

        &__image {
            &--ds {
                width: 440px;
            }

            &--item {
                width: 72px;
            }

            &--mha {
                width: 90%;
                object-fit: contain;
            }
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__item {
            width: 230px;
            margin: 0 0 10px;

            &--mha {
                margin: 10px 0 10px 20px;
                &:nth-child(odd) {
                    margin-left: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .animeTemp {
        &__hero {
            padding: 0 60px;
            justify-content: space-evenly;

            &--ds {
                justify-content: center;
            }
        }

        &__logoCon, &__heroImg {
            margin-top: 45px;
        }

        &__logoCon {
            height: auto;

            &--ds {
                width: 47%;
            }
        }

        &__logo {
            width: 380px;
            max-width: none;
            padding-top: 15px;

            &--ds {
                width: 443px;
            }
        }

        &__heroImg {
            max-width: 545px;

            &--ds {
                max-width: 688px;
            }
        }

        &__btns {
            &--list {
                margin: -10px auto 30px;
            }
        }

        &__heading {
            &--content {
                font-size: 32px;
            }

            &--cards {
                margin-left: 0;
            }
        }

        &__image {
            &--ds {
                width: 48%;
                max-width: 680px;
            }

            &--item {
                width: 72px;
            }
        }

        &__list {
            justify-content: center;
            margin-bottom: 0;
        }

        &__item {
            margin-bottom: 15px;
            width: 255px;
            margin: 0 0 10px 35px;
        }
    }
}