header {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #181818;
    z-index: 99999;
    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 55px;
        li {
            a {
                font-size: 24px;
                svg, path {
                    color: white;
                    fill: transparent;
                    stroke: white;
                    stroke-width: 20;
                    transition: all 0.6s ease;
                }
                
                &.nuxt-link-exact-active {
                    svg, path{
                        fill: white;
                        stroke: transparent;
                    }
                }
            }
        }
    }
}