.sao {

    &__hero {
        height: 100vh;
        background-image: url("https://bit.ly/2QRwWzq");
    }

    &__hero, &__content {
        background-size: cover;
        background-position: center;
    }

    &__content {
        margin: 73px 0;

        &--0 {
            padding-top: 53px;
            height: 70vh;
            background-image: url("https://bit.ly/3b8Dro7");
            max-height: 520px;
        }
    }

    &__image {
        width: 95%;
        display: flex;
        align-items: flex-start;
        margin: 0 auto;

        img {
            width: 100%;
        }

        &--character {
            height: 534px;
            object-fit: contain;
        }
    }

    &__heading {
        font-family: $sao-heading;
        text-align: center;
        font-size: 32px;
        position: relative;
        margin-bottom: 30px;

        &::after {
            content: '';
            background-color: black;
            height: 2px;
            position: absolute;
            width: 28px;
            top: 125%;
            left: 50%;
            transform: translate(-50%, 0);
        }

        &--white {
            color: white;
            margin-bottom: 40px;

            &::after {
                background-color: white;
            }
        }
    }

    &__text {
        width: 90%;
        margin: 0 auto;
    }

    &__quote {
        display: block;
    }

    &__para, &__quote {
        font-family: $para-font;
        font-weight: 600;
        font-size: 13px;
        margin: 30px auto 0;
    }

    &__para {
        line-height: 140%;

        &--white {
            color: white;
            width: 300px;
        }
    }
}

@media screen and (min-width: 768px) {
    .sao {
        &__hero {
            background-image: url("https://res.cloudinary.com/ap-creative/image/upload/v1620500326/anime/sao/tablet_hero_xaqbal.png");
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
        }

        &__logo {
            display: block;
            margin: 0 auto;
            padding-top: 10%;
            width: 65%;
        }

        &__content {
            background-image: none;
            display: flex;
            align-items: center;
            width: 950px;
            margin: 73px auto;

            &--0 {
                max-height: auto;
                height: auto;
            }
        }

        &__image {
            width: 368px;
            flex: 0 1 auto;
            
            img {
                object-fit: cover;
                height: 491px;
            }

            &--0, &--character {
                order: 1;
            }
        }

        &__text {
            width: 395px;
        }

        &__para {
            font-size: 14px;
            width: 100%;
        }

        &__heading {
            margin-bottom: 63px;

            &::after {
                background-color: black;
                top: 150%;
            }
        }

        &__heading, &__para {
            color: black;
        }
    }
}