.sao {

    &__logo {
        width: 87%;
        display: block;
        padding-top: 29%;
        margin: 0 auto;
    }

    &__hero {
        height: 100vh;
        background-image: url("https://bit.ly/2QRwWzq");
    }

    &__hero, &__content {
        background-size: cover;
        background-position: center;
    }

    &__content {
        margin: 73px 0;

        &--0 {
            padding-top: 53px;
            height: 70vh;
            background-image: url("https://bit.ly/3b8Dro7");
            max-height: 520px;
        }
    }

    &__characters {
        position: relative;
        margin-bottom: 120px;
    }

    &__image {
        width: 95%;
        display: flex;
        align-items: flex-start;
        margin: 0 auto;

        img {
            width: 100%;
        }

        &--character {
            height: 534px;
            object-fit: contain;
        }
    }

    &__heading {
        font-family: $sao-heading;
        text-align: center;
        font-size: 32px;
        position: relative;
        margin-bottom: 30px;

        &::after {
            content: '';
            background-color: black;
            height: 2px;
            position: absolute;
            width: 28px;
            top: 125%;
            left: 50%;
            transform: translate(-50%, 0);
        }

        &--white {
            color: white;
            margin-bottom: 40px;

            &::after {
                background-color: white;
            }
        }
    }

    &__text {
        width: 90%;
        margin: 0 auto;
    }

    &__quote {
        display: block;
    }

    &__para, &__quote {
        font-family: $para-font;
        font-weight: 600;
        font-size: 13px;
        margin: 30px auto 0;
    }

    &__para {
        line-height: 140%;

        &--white {
            color: white;
            width: 300px;
        }
    }

    &__arrows {
        display: flex;
        position: absolute;
        bottom: -40px;
        right: 15px;
    }

    &__arrow {
        width: 30px;
        cursor: pointer;
    }
}

@media screen and (min-width: 375px) {
    .sao {
        &__heading {

            &::after {
                top: 140%;
            }
        }
        &__content {
            &--0 {
                padding-top: 0;
                height: 520px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }

        &__para, &__quote {
            font-size: 15px;
        }

        &__para {
            line-height: 150%;

            &--white {
                width: 324px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .sao {
        &__hero {
            background-image: url("https://res.cloudinary.com/ap-creative/image/upload/v1620500326/anime/sao/tablet_hero_xaqbal.png");
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
        }

        &__logo {
            display: block;
            margin: 0 auto;
            padding-top: 150px;
            width: 65%;
            max-width: 760px;
        }

        &__content {
            background-image: none;
            display: flex;
            align-items: center;
            width: 95%;
            justify-content: space-evenly;
            margin: 73px auto;

            &--0 {
                max-height: 100%;
                height: auto;
                flex-direction: row;
            }
        }

        &__image {
            width: 368px;
            flex: 0 1 auto;
            
            img {
                object-fit: cover;
                height: auto;
                width: 90%;
            }

            &--0 {
                img {
                    margin-left: auto;
                    margin-right: 0;
                }
            }

            &--0, &--character {
                order: 1;
            }

            &--character {
                width: 260px;
            }
        }

        &__text {
            width: 430px;
        }

        &__para, &__quote {
            width: 95%;
        }

        &__para {
            font-size: 15px;

            &--char {
                width: 95%;
            }
        }

        &__heading {
            margin-bottom: 50px;

            &::after {
                background-color: black;
                top: 150%;
            }
        }

        &__heading, &__para {
            color: black;
        }

        &__arrows {
            justify-content: space-evenly;
            width: 150px;
            bottom: 18%;
            left: 30%;
            transform: translateX(-50%);
        }
    }
}

@media screen and (min-width: 834px) {
    .sao {
        &__arrows {
            transform: translateX(-55%);
        }
    }
}

@media screen and (min-width: 1024px) {
    .sao {
        &__arrows {
            transform: translateX(-60%);
        }
    }
}

@media screen and (min-width: 1200px) {
    .sao {

        &__logo {
            padding-top: 200px;
        }

        &__content {
            width: 90%;

            &--0 {
                background-image: url('~/assets/images/sao/sao_desktop.png');
                height: 576px;
                padding-top: 0;
                max-height: 100%;
            }
        }

        &__characters {
            margin-bottom: 60px;
        }

        &__image {
            width: 500px;

            img {
                width: 100%;
            }
        }

        &__text {
            width: 525px;

            &--0 {
                width: 525px;
            }
        }

        &__heading {
            font-size: 48px;
            margin-bottom: 70px;

            &--white {
                color: white;

                &::after {
                    background-color: white;
                }
            }
        }

        &__para {
            font-size: 18px;
            margin: 30px auto 0;

            &--white {
                color: white;
                font-size: 20px;
            }

            &--char {
                width: 525px;
            }
        }

        &__quote {
            font-size: 16px;
        }

        &__arrows {
            transform: translateX(-100%);
            bottom: 10%;
        }
    }
}

@media screen and (min-width: 1680px) {
    .sao {
        &__content {
            width: 1470px;
            margin: 180px auto;

            &--0 {
                height: 725px;
                margin-top: 150px;
            }
        }

        &__characters {
            margin-top: -20px;
            margin-bottom: 60px;
        }

        &__text {
            width: 562px;

            &--0 {
                width: 690px;
            }
        }

        &__para, &__quote {
            width: 90%;
        }
    }
}