$heading-font: 'Open Sans';
$para-font: 'Assistant';

$bck-black: #181818;

$sao-heading: 'saoBold';


// Demon Slayer Fonts
$ds-heading: 700 16px 'Open Sans';
$ds-para: 400 13px/17px 'Open Sans';
$ds-numbers: 'Spartan';
$ds-numbers-text: 'Heebo';